@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 230 181 123;
    --color-secondary: 218 218 218;
    --color-text: 56 56 56;
    --color-white: 255 255 255;
    --primary-loader-background: radial-gradient(
      farthest-side,
      rgb(var(--color-primary)) 80%,
      transparent 0%
    ) no-repeat;
    --white-loader-background: radial-gradient(
      farthest-side,
      rgb(var(--color-white)) 80%,
      transparent 0%
    ) no-repeat;
  }
}

@layer components {
  .primary-loader {
    @apply 
      w-8 h-4 !bg-[length:8px_8px];
      background: var(--primary-loader-background), var(--primary-loader-background), var(--primary-loader-background) 
  }
  .white-loader {
    @apply 
      w-8 h-4 !bg-[length:8px_8px];
      background: var(--white-loader-background), var(--white-loader-background), var(--white-loader-background) 
  }
}