@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 230 181 123;
    --color-secondary: 218 218 218;
    --color-text: 56 56 56;
    --color-white: 255 255 255;
    --loader-background: radial-gradient(
      farthest-side,
      transparent calc(95% - 3px),
      rgb(var(--color-primary)) calc(100% - 3px) 98%,
      transparent 101%
    ) no-repeat
  }
}

@layer components {
  .loader {
    @apply 
      w-14 h-10 !bg-[length:14px_14px];
      background: var(--loader-background), var(--loader-background), var(--loader-background) 
  }
}